# Ignorar a pasta node_modules
node_modules/

# Ignorar arquivos de build ou pasta de distribuição (caso você faça builds)
dist/
build/

# Ignorar arquivos de ambiente (caso estejam no projeto)
.env
.env.local
.env.development
.env.production
.env.test

# Ignorar logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar configurações do editor de código (como Visual Studio Code)
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignorar arquivos de teste de cobertura
coverage/

# Ignorar arquivos gerados automaticamente
.DS_Store
Thumbs.db

# Ignorar o codes.json na raiz do projeto
codes.json
src/firebase/firebase.js

# Ignorar arquivos de cache
.cache/
