# Dependências do Node.js
node_modules/
package-lock.json

# Build output
build/
dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependências do Firebase e configurações locais
firebase-debug.log
./firebase

# Sistema operacional e IDEs
.DS_Store
Thumbs.db

# Arquivos de configuração do sistema
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de cache e configuração
.cache/
.parcel-cache/
.vscode/

# Test output
coverage/
*.lcov

# Configurações e diretórios do serviço de análise de desempenho
reportWebVitals.js

# Arquivos gerados pelo servidor
server.js

# Arquivos JSON de configuração local
codes.json

# Outros arquivos que não devem ser versionados
*.swp
*.tmp
