body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1d7c00, #f5f5f5);
}
nav{
    width: 100%;
    background-color: red;
}

*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid #1d7c00;
}